#!/bin/sh
# ------------------------------------------------------------------------------
# Creates the files necessary to create a physical standby database by backing
# up the primary database.
#
# The short homes are assumed to be the suffixes of the respective DB unique
# names.
# ------------------------------------------------------------------------------

export ORACLE_HOME={{ oracle_vars.oracle_home }}
export ORACLE_SID={{ oracle_vars.sid_name }}
db_unique_name={{ oracle_vars.db_unique_name }}
dest_db_unique_name={{ oracle_vars.remote_db_unique_name }}
source_host=${db_unique_name##*_}
dest_host=${dest_db_unique_name##*_}

# ------------------------------------------------------------------------------
# Backup the primary database into the recovery area, and then backup the
# recovery area into /tmp.
{{ oracle_vars.oracle_home }}/bin/rman target / <<DONE
  run {
    allocate channel d1 device type disk;
    allocate channel d2 device type disk;
    backup database archivelog all;
  }
  backup recovery area to destination '/tmp';
  exit
DONE

# ------------------------------------------------------------------------------
# Create text version of the SPFILE and a standby copy of the control file.
# ------------------------------------------------------------------------------

{{ oracle_vars.oracle_home }}/bin/sqlplus -S -L / as sysdba <<DONE
CREATE PFILE='/tmp/init${source_host}.ora' FROM SPFILE;
ALTER DATABASE CREATE STANDBY CONTROLFILE AS '/tmp/${dest_host}.ctl';
EXIT
DONE

# ------------------------------------------------------------------------------
# Change the text version of the SPFILE for use on the other node.
# ------------------------------------------------------------------------------

sed                                                                       \
  -e '/^ocm12\.__/d'                                                      \
  -e '/^\*\.control_files=/d'                                             \
  -e '/^\*\.fal_server=/s/${dest_host}/${source_host}/g'                  \
  -e '/^\*\.db_unique_name=/s/${db_unique_name}/${dest_db_unique_name}/g' \
  /tmp/init${source_host}.ora                                             \
  >/tmp/init${dest_host}.ora

# ------------------------------------------------------------------------------
# Copy the backups, password file, modified init.ora, and standby control to
# the destination host.
# ------------------------------------------------------------------------------

[ -d /tmp/${db_unique_name^^} ]                                        && \
  tar cvzf /tmp/${source_host}.gz /tmp/${db_unique_name^^}
[ -r /tmp/${dest_host}.ctl ]                                           && \
  scp /tmp/${dest_host}.ctl ${dest_host}:/tmp
[ -r /tmp/init${dest_host}.ora ]                                       && \
  scp /tmp/init${dest_host}.ora ${dest_host}:/tmp
[ -r /tmp/${source_host}.gz ]                                          && \
  scp /tmp/${source_host}.gz ${dest_host}:/tmp
scp {{ oracle_vars.oracle_home }}/dbs/orapw{{ oracle_vars.sid_name }}     \
  ${dest_host}:{{ oracle_vars.oracle_home }}/dbs
