# ------------------------------------------------------------------------------
# Creates the files necessary to create a physical standby database by backing
# up the primary database.
# ------------------------------------------------------------------------------

export ORACLE_HOME={{ oracle_vars.oracle_home }}
export ORACLE_SID={{ data_guard_config.primary.sid_name }}
db_unique_name={{ data_guard_config.primary.db_unique_name }}
dest_db_unique_name={{ data_guard_config.standby.db_unique_name }}
src_tns_alias={{ data_guard_config.primary.dflt_tns_alias }}
dest_tns_alias={{ data_guard_config.standby.dflt_tns_alias }}
source_host={{ data_guard_config.primary.host_name.split('.')[0] }}
dest_host={{ data_guard_config.standby.host_name.split('.')[0] }}

# -----------------------------------------------------------------------------
# Remove old files (if any)
# -----------------------------------------------------------------------------

[ -f /tmp/${dest_host}.ctl ]          && \
  rm -f /tmp/${dest_host}.ctl
[ -f /tmp/init${source_host}.ora ]    && \
  rm -f /tmp/init${source_host}.ora
[ -f /tmp/init${dest_host}.ora ]      && \
  rm -f /tmp/init${dest_host}.ora

# -----------------------------------------------------------------------------
# Delete any obsolete backups. The output is suppressed because of RMAN-08137
# ------------------------------------------------------------------------------

{{ oracle_vars.oracle_home }}/bin/rman target / >/dev/null <<DONE
  delete noprompt obsolete;
  exit
DONE

# ------------------------------------------------------------------------------
# Backup the primary database into the recovery area, and then backup the
# recovery area into /tmp.
# -----------------------------------------------------------------------------

{{ oracle_vars.oracle_home }}/bin/rman target / <<DONE
  run {
    allocate channel d1 device type disk;
    allocate channel d2 device type disk;
    backup database archivelog all;
  }
  backup recovery area to destination '/tmp';
  exit
DONE

# ------------------------------------------------------------------------------
# Create text version of the SPFILE and a standby copy of the control file.
# ------------------------------------------------------------------------------

{{ oracle_vars.oracle_home }}/bin/sqlplus -S -L / as sysdba <<DONE
CREATE PFILE='/tmp/init${source_host}.ora' FROM SPFILE;
ALTER DATABASE CREATE STANDBY CONTROLFILE AS '/tmp/${dest_host}.ctl';
EXIT
DONE

# ------------------------------------------------------------------------------
# Change the text version of the SPFILE for use on the other node.
# Get rid of automatic settings.
# Remove control file names. These will be different on the standby.
# Change the source of missing logs back to primary.
# Change the DB_UNIQUE_NAME.
# Flip the DB_UNIQUE_NAMEs for the log archive destinations.
# ------------------------------------------------------------------------------

sed                                                                           \
  -e "/^${ORACLE_SID}\.__/d"                                                  \
  -e "/^\*\.control_files=/d"                                                 \
  -e "/^\*\.fal_server=/s/${dest_tns_alias}/${src_tns_alias}/g"               \
  -e "/^\*\.db_unique_name=/s/${db_unique_name}/${dest_db_unique_name}/g"     \
  -e "/^\*\.log_archive_dest_1=/s/${db_unique_name}/${dest_db_unique_name}/g" \
  -e "/^\*\.log_archive_dest_2=/s/DB_UNIQUE_NAME=${dest_db_unique_name}/DB_UNIQUE_NAME=${db_unique_name}/g" \
  -e "/^\*\.log_archive_dest_2=/s/SERVICE=${dest_tns_alias}/SERVICE=${src_tns_alias}/g" \
  /tmp/init${source_host}.ora                                                 \
  >/tmp/init${dest_host}.ora

# ------------------------------------------------------------------------------
# Copy the backups, password file, modified init.ora, and standby control file
# to the destination host.
# ------------------------------------------------------------------------------

[ -d /tmp/${db_unique_name^^} ]                                        && \
  tar cvzf /tmp/${dest_host}.gz /tmp/${db_unique_name^^}
[ -r /tmp/${dest_host}.ctl ]                                           && \
  scp /tmp/${dest_host}.ctl ${dest_host}:/tmp
[ -r /tmp/init${dest_host}.ora ]                                       && \
  scp /tmp/init${dest_host}.ora ${dest_host}:/tmp
[ -r /tmp/${dest_host}.gz ]                                            && \
  scp /tmp/${dest_host}.gz ${dest_host}:/tmp
scp {{ oracle_vars.oracle_home }}/dbs/orapw{{ data_guard_config.primary.sid_name }}     \
  ${dest_host}:{{ oracle_vars.oracle_home }}/dbs/orapw{{ data_guard_config.standby.sid_name }}
