# ------------------------------------------------------------------------------
# Bash script to fix settings that are incompatible with a Data Guard
# environment.
# ------------------------------------------------------------------------------

export ORACLE_HOME={{ oracle_vars.oracle_home }}
export ORACLE_SID={{ oracle_vars.sid_name }}

{{ oracle_vars.oracle_home }}/bin/sqlplus -S -L / as sysdba <<DONE
{# --------------------------------------------------------------------------
   Only shutdown if needed
   -------------------------------------------------------------------------- #}
WHENEVER SQLERROR EXIT FAILURE
{% if change_primary_db_unique_name  or
      change_primary_archivelog_mode or
      change_primary_force_logging   %}
{# --------------------------------------------------------------------------
   Force the database instance into a known state
   -------------------------------------------------------------------------- #}
SHUTDOWN IMMEDIATE
{# --------------------------------------------------------------------------
   Change any initialisation parameters that are not dymanic
   -------------------------------------------------------------------------- #}
{% if change_primary_db_unique_name %}
STARTUP NOMOUNT
ALTER SYSTEM
    SET {{ primary_db_unique_name_str }}
        COMMENT='Ansible changed $(date +"%Y-%m-%d")'
        SCOPE=SPFILE;
{# Suppresses ORA-01507: database not mounted #}
WHENEVER SQLERROR CONTINUE
SHUTDOWN
WHENEVER SQLERROR EXIT FAILURE
{% endif %}
{# --------------------------------------------------------------------------
   Change database settings that are not dynamic
   -------------------------------------------------------------------------- #}
STARTUP MOUNT
{% if change_primary_archivelog_mode %}
ALTER DATABASE ARCHIVELOG;
{% endif %}
{% if change_primary_force_logging %}
ALTER DATABASE FORCE LOGGING;
{% endif %}
{# --------------------------------------------------------------------------
   Open database
   -------------------------------------------------------------------------- #}
ALTER DATABASE OPEN;
{% endif %}
{# --------------------------------------------------------------------------
   Change any dynamic initialisation parameters
   -------------------------------------------------------------------------- #}
{% if change_primary_log_archive_config %}
ALTER SYSTEM
    SET {{ primary_log_archive_config_str }}
        COMMENT='Ansible changed $(date +"%Y-%m-%d")'
        SCOPE=BOTH;
{% endif %}
{% if change_primary_log_archive_dest_1 %}
ALTER SYSTEM
    SET {{ primary_log_archive_dest_1_str }}
        COMMENT='Ansible changed $(date +"%Y-%m-%d")'
        SCOPE=BOTH;
{% endif %}
{% if change_primary_log_archive_dest_2 %}
ALTER SYSTEM
    SET {{ primary_log_archive_dest_2_str }}
        COMMENT='Ansible changed $(date +"%Y-%m-%d")'
        SCOPE=BOTH;
{% endif %}
{% if change_primary_log_archive_format %}
ALTER SYSTEM
    SET {{ primary_log_archive_format_str }}
        COMMENT='Ansible changed $(date +"%Y-%m-%d")'
        SCOPE=BOTH;
{% endif %}
{% if change_primary_remote_login_passwordfile %}
ALTER SYSTEM
    SET {{ primary_remote_login_passwordfile_str }}
        COMMENT='Ansible changed $(date +"%Y-%m-%d")'
        SCOPE=BOTH;
{% if change_primary_fal_server %}
ALTER SYSTEM
    SET {{ primary_fal_server_str }}
        COMMENT='Ansible changed $(date +"%Y-%m-%d")'
        SCOPE=BOTH;
{% if change_primary_standby_file_management %}
ALTER SYSTEM
    SET {{ primary_standby_file_management_str }}
        COMMENT='Ansible changed $(date +"%Y-%m-%d")'
        SCOPE=BOTH;
{% endif %}
EXIT
DONE
