# ------------------------------------------------------------------------------
# Restores the physical standby databse from the files backed up on the
# primary database.
#
# The short homes are assumed to be the suffixes of the respective DB unique
# names.
# ------------------------------------------------------------------------------

export ORACLE_HOME={{ oracle_vars.oracle_home }}
export ORACLE_SID={{ data_guard_config.standby.sid_name }}
db_unique_name={{ data_guard_config.standby.db_unique_name }}
source_host={{ data_guard_config.standby.host_name.split('.')[0] }}

# ------------------------------------------------------------------------------
# Create the SPFILE from the editted copy created from the primary database
# ------------------------------------------------------------------------------

{{ oracle_vars.oracle_home }}/bin/sqlplus -S -L / as sysdba <<DONE
startup nomount pfile='/tmp/init${source_host}.ora'
create spfile from pfile='/tmp/init${source_host}.ora';
EXIT
DONE

# ------------------------------------------------------------------------------
# Shutdown database instance (and suppress any error messages)
# -----------------------------------------------------------------------------

{{ oracle_vars.oracle_home }}/bin/sqlplus -S -L / as sysdba >/dev/null <<DONE
SHUTDOWN
EXIT
DONE

# ------------------------------------------------------------------------------
# Unzip the backup of the recovery area from the primary database
# ------------------------------------------------------------------------------

[ -r /tmp/${source_host}.gz ]                                          && \
  tar --extract --gzip --file=/tmp/${source_host}.gz --directory=/

# ------------------------------------------------------------------------------
# Restore the standby control file
# 
# Refer to Mos Doc ID 734862.1:
# "Step By Step Guide On How To Recreate Standby Control File When Datafiles Are
# On ASM And Using Oracle Managed Files"
# ------------------------------------------------------------------------------

{{ oracle_vars.oracle_home }}/bin/rman target / <<DONE
startup nomount
restore standby controlfile from '/tmp/${source_host}.ctl';
EXIT
DONE

# ------------------------------------------------------------------------------
# Mount and restore the physical standby database, then start the redo apply.
# ------------------------------------------------------------------------------

{{ oracle_vars.oracle_home }}/bin/rman target / <<DONE
ALTER DATABASE MOUNT;
CROSSCHECK BACKUP;
RESTORE DATABASE;
alter database recover managed standby database disconnect from session;
exit
DONE
